h1 {
    font-family: cursive;
    font-size: 60px;
    color: #FFA500;
}

p {
    font-family: fantasy;
    font-size: 40px;
    color: #FF0000;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFA500;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: red;
}
